.redeem-cont {
    width: 100%;
    height: 90vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.redeem {
    width: 800px;
    height: 1200px;
    border-radius: 0.75rem;
    background-color: white;
    padding: 10rem 5rem;

    z-index: 50;

    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    gap: 3rem;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
        0 8px 10px -6px rgb(0 0 0 / 0.1);
}

.redeem-title {
    font-size: 3rem;
    font-weight: 500;
}

.redeem-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
}

.redeem-input {
    width: 80%;
    padding: 1rem 1rem;
}

.redeem-input:focus {
    outline: auto #485bfe;
}

.redeem-btn {
    width: 180px;
    height: 60px;
    border-radius: 20px;
    border: none;
    background-color: white;
    border: 1px solid hsla(0, 0%, 71%, 0.7);
    cursor: pointer;
    color: white;
    font-weight: 500;
    background: linear-gradient(90deg, #485bfe 0%, #717efc 70%);
    box-shadow: 0 4px 6px -5px #485bfe, 0 2px 4px -2px #485bfe;
    border: none;
}
