.confirmation-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3rem;
  border-radius: 2rem;
  border: 1px solid white;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  font-size: 2rem;
  gap: 5rem;
  div {
    display: flex;
    flex-direction: column;
    span {
      width: 50%;
      border: 0.5px solid rgb(151, 149, 149);
      align-self: center;
      margin-top: 0.5rem;
    }
  }
}
.conf-h1 {
  text-align: center;
  font-weight: 400;
  font-size: 3.5rem;
}

.info1 {
  display: flex;
  flex-direction: column;
}

.confirmation-wrapper {
  height: 100%;
}

.ticket-info-wrapper {
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
}

.section-info {
  display: flex;
  height: 100%;

  flex-direction: column;
  gap: 4rem;
}

.conf-cta {
  display: flex;
  justify-content: space-around;
  padding: 3rem 3rem;
  border: 1px solid #0055bb;
  border-radius: 1rem;
  background-color: #0055bb;
  color: white;
  h3 {
    align-self: center;
    font-weight: 400;
  }
}

.conf-cta-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  button {
    width: 186px;
    height: 70px;
    font-size: 1.8rem;
    border-radius: 2rem;
    font-weight: 500;
    border: 1px solid white;
    background-color: white;
  }
}
