.user-page-container {
  width: 100vw;
  height: 100vh;

  background-color: white;
}

.menu-bar-wrapper {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 3fr;
}

.menu-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 1px solid #d6d6d6;
  padding: 0 1rem;
}

.options-wrapper {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  cursor: pointer;
  li {
    display: flex;
    gap: 0.7rem;
    padding: 0.8rem;
    font-size: 1.3rem;
    border: 1px solid none;
    border-radius: 1rem;
  }
  li:hover {
    background-color: #edebeb;
  }
  .active {
    background-color: #edebeb;
    border-radius: 1rem;
  }
}

.image-logo {
  width: 140px;
  height: 40px;
  padding-top: 1rem;
  padding-left: 1rem;

  img {
    width: 100%;
    object-fit: cover;
  }
}

.logout {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f44336;
  border: none;
  padding: 1rem 0.5rem;
  border-radius: 0.75rem;
  /* padding-bottom: 2.5rem; */
}

.main-user-menu {
  width: 100%;
  height: 100%;
  background-color: rgb(250, 251, 253);
  display: flex;
  justify-content: center;
}

/* USER SECTION */

.user-wrapper {
  padding: 5rem 5rem;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 2rem;

  .user-image {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #cfcece;
    img {
      width: 15%;
    }
    h2 {
      padding-left: 0.5rem;
    }
  }
}

.main-info {
  width: 100%;
  display: flex;
  gap: 2rem;
  flex-direction: column;
  /* align-items: center; */
  input {
    padding: 0.5rem 0;
    background-color: rgb(250, 251, 253);
    border: none;
    width: 50%;
  }
  p {
    color: rgb(88, 140, 236);
  }

<<<<<<< HEAD
    .user-l {
        display: flex;
        gap: 3rem;
        flex-direction: column;
        label {
            font-weight: 700;
            font-size: 1.2rem;
        }
    }
}
.info-sections {
    display: flex;
    flex-direction: column;
    gap: 2rem;
=======
  .user-l {
    display: flex;
    gap: 3rem;
    flex-direction: column;
    label {
      font-weight: 700;
      font-size: 1.2rem;
    }
  }
}
.info-sections {
  display: flex;
  flex-direction: column;
  gap: 2rem;
>>>>>>> 17768e8 (change)
}

/* MYTICKETS SECTION */

.tickets-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 5rem 5rem 0 5rem;
  h1 {
    font-size: 3rem;
  }
}

.tickets {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;

  gap: 2rem;
}
.tickets-wrapper {
  display: flex;
  gap: 3rem;
}

.ticket-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.cta-ticket-btns {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .download-btn {
    background-color: transparent;
    cursor: pointer;
    color: black;
    padding: 0.5rem;
    border: 1px solid transparent;
    border-radius: 1rem;
    a {
      text-decoration: none;
      color: white;
    }
  }
  .angle-down-btn {
    cursor: pointer;
  }
}

.mytickets-header {
  border-bottom: 1px solid #cfcece;
  padding-bottom: 1rem;
}

/* FAVOURITE SECTION */

.delete-favourite-btn {
  background-color: rgb(233, 77, 77);
  cursor: pointer;
  color: white;
  padding: 0.5rem;
  border: 1px solid transparent;
  border-radius: 1rem;
}

.ticket {
  display: flex;
  border: 1px solid #cfcece;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.ticket-btn {
  border: none;
  background-color: lightblue;
  padding: 1rem;
}

.ticket-btn > svg {
  font-size: 1rem;
}
